{% extends 'layout.html.twig' %}
{% trans_default_domain 'register' %}

{% block title %}{{ parent() }} | {{ 'register.pagename' | trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <h2 class="text-center">
                Register
            </h2>
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
        </div>
    </div>

{% endblock %}
