{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <h2 class="text-center">
                Register
            </h2>

            {{ form(form, {attr: {novalidate: 'novalidate'}}) }}

        </div>
    </div>

{% endblock %}
