{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <h2 class="text-center">
                Login
            </h2>

            {% if errorMessage %}
                <div class="alert alert-danger">
                    {{ errorMessage.messageKey|trans(errorMessage.messageData, 'security') }}
                </div>
            {% endif %}

            {{ form(form, {attr: {novalidate: 'novalidate'}}) }}

        </div>
    </div>

{% endblock %}